@import "../../variables.scss";

.favorites-page {
  display: flex;
  flex-direction: column;

  color: $secondary-text-color;

  align-items: center;

  &__title {
    margin: 20px auto;

    font-size: 35px;
  }

  &__loading-spinner {
    margin: 20px;

    animation: 2s linear 0s infinite alternate rotate;

    color: $secondary-text-color;

    font-size: 20px;
  }
}