@import "../../variables.scss";

.side-menu {
  border-right: 1px solid $main-color;
  background-color: $main-text-color;

  &__title-container {
    height: 80px;
    padding: 15px 20px;

    background-color: $primary-color;
  }

  &__title {
    margin: 0;
  }

  &__item-container {
    display: flex;

    margin: 20px 20px;

    text-decoration: none;

    color: $secondary-text-color;

    align-items: center;
  }

  &__icon {
    font-size: 12px;
  }

  &__item {
    margin: 0 0 0 10px;
  }
}