@import "../../variables.scss";

body {
  margin: 0;

  color: $main-text-color;
}

button {
  color: inherit;
  border: none;
  outline: none;
  background-color: inherit;
}

button:hover {
  cursor: pointer;
}